@media (max-width: 760px) {
  .collapse ul {
    padding-right: 0px !important;
    padding-top: 0px !important;
  }

  .footer-content {
    margin-left: -15px !important;
  }

  .footer-content p {
    font-size: 1.5em !important;
  }

  .footer-content a {
    font-size: 1em !important;
  }

  .footer-content .contact-info {
    font-size: 1em !important;
  }

  .footer-content-right {
      text-align: center;
  }

  .wrapper-content h1 {
    padding-left: 4% !important;
  }

  .wrapper-content p {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }

  .wrapper-content-img {
    display: none !important;
  }

  .wrapper-content img {
    display: none !important;
  }

  .footer-content {
    height: 400px !important;
  }

  .dienst-left {
    margin-left: -35px !important;
  }

  .dienst-right {
    margin-left: -35px !important;
  }

  .diensten-content {
    padding-left: 0px !important;
    margin-left: -3px !important;
  }

  .diensten-content li {
    width: 100% !important;
  }

  .form input, .form-client input {
    width: 94% !important;
  }

  .form select, .form-client select {
    width: 94% !important;
  }

  .form textarea {
    width: 94% !important;
  }

  .buttons {
    width: 204px !important;
    height: 20px !important;
  }

  .form-button-client {
    width: 100px !important;
  }

  .form-button {
    width: 100px !important;
  }

  .buttons p {
    font-size: 1.2em !important;
  }

  .footer-small-banner {
    margin-top: 45px;
  }

  .instagram-logo img{
    width: 40px !important;
    height: 40px !important;
    margin-right: 5px !important;
  }

  .facebook-logo img{
    width: 40px !important;
    height: 40px !important;
  }

  .social-logos {
    margin: 0 auto !important;
    padding-left: 10px !important;
    height: 50px !important;
    float: right !important;
    margin-top: 20px !important;
    margin-right: 25px !important;
    width: 50% !important;
  }

  .table {
    font-size: 1em !important;
  }

  .call-button {
    text-align: center;
  }
}
html {
  background-color: #f9f9f9;
}
.small-banner {
  background-color: #5684bf;
  height: 25px;
  width: 100%;
}

.footer-small-banner {
  background-color: #a2cdf2;
  height: 25px;
  width: 100%;
  margin-top: 170px;
}

.footer {
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #a2cdf2;
}

.footer-content {
  padding-top: 25px;
  height: 10px;
  max-width: 1330px;
  margin: 0 auto;
  height: 300px;
  font-family: 'Crimson Text', serif;
}

.footer-content p {
  font-size: 2em;
  color: #3c6aa6;
}

.footer-content .contact-info {
  color: #3c6aa6;
  font-size: 1.2em;
}

.footer-content ul {
  list-style-type: none;
}

.footer-content a {
  color: #3c6aa6;
  font-size: 1.2em;
}

.footer-content a:hover {
  text-decoration: none;
  color: #3c6aa6;
}

.logo img {
    float: right;
    height: 120px;
    margin-right: 100px;
    margin-top: 10px;
    width: 215px;
}

.navbar {
    margin-bottom: -20px !important;
    border-radius: 0px !important;
}

.navbar-default {
    border-bottom-color: #5684bf !important;
    color: #FFFFFF !important;
    background-color: #f9f9f9 !important;
    font-family: 'Crimson Text', serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #f9f9f9 !important;
}

.navbar-default .navbar-nav>li>a {
  color: #5684bf !important;
  font-size: 1.3em;
}

.navbar-default .navbar-toggle{
  border-color: #5684bf !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #5684bf !important;
}

.container-fluid{
  max-width: 1330px;
}

.collapse ul {
  padding-right: 20px;
  padding-top: 70px;
}

.wrapper {
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 70px;
}

.wrapper-content {
  padding-top: 30px;
  max-width: 1330px;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
  background-color: #f9f9f9;
}

.from {
  max-width: 1330px;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
}

.wrapper-content-img {
  max-width: 100%;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.wrapper-content img {
  position: absolute;
  margin: auto;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}

.wrapper-content h1 {
  padding-left: 4%;
  color: #3c6aa6;
  font-size: 2.5em;
}

.wrapper-content p {
  padding-left: 4%;
  padding-right: 4%;
  color: #3c6aa6;
  font-size: 1.3em;
}

.diensten-content {
  border-radius: 25px;
  height: 450px;
  max-width: 1330px;
  margin: 0 auto;
  padding-top: 30px;
  color: #3c6aa6;
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
  padding-left: 30px;
}

.diensten-content ul {
  list-style-type: none;
  text-align: center;
}

.diensten-content a:hover {
  text-decoration: none;
  color: #3c6aa6;
}

.diensten-content li {
  height: 30px;
  width: 400px;
  padding-left: 10px;
  margin: 0 20px 3px 0;
  display: inline-block;
}

.diensten-content li a:hover {
  background-color: #c2dcf2;
}

.diensten-content p {
  text-align: center;
  font-size: 1.3em;
}

.dienst-left {
  margin-left: -30px;
}

.dienst-right {
  margin-left: -30px;
}

.form {
  margin-top: 3%;
}
.form input, .form-client input {
  width: 500px;
  padding-left: 1%;
  margin-left: 4%;
  margin-bottom: 30px;
}

.form select, .form-client select {
  width: 500px;
  padding-left: 1%;
  margin-left: 4%;
  margin-bottom: 30px;
}

.form textarea {
  width: 500px;
  padding-left: 1%;
  margin-left: 4%;
  margin-bottom: 30px;
}

.form label, .form-client label {
  width: 500px;
  padding-left: 0px;
  margin-left: 4%;
  color: #3c6aa6;
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
}

.form button, .form-client button{
  margin-left: 4%;
  margin-bottom: 5%;
}

.buttons {
  width: 404px;
  height: 40px;
  margin: auto;
  padding-bottom: 150px;
}

.buttons p {
  text-align: center;
  font-size: 2em;
}

.form-button-client {
  width: 200px;
  background-color: #5684bf;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
}

.form-button {
  width: 200px;
  background-color: #5684bf;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
}

.form-button p, .form-button-client p {
  color: white;
  padding-top: 6px;
}

.wrapper-content p {
  font-size: 1.5em;
}

.mapouter {
  margin-left: 40px;
}

.alert {
  padding-left: 50px !important;
}

.social-logos {
  padding-left: 10px;
  height: 50px;
  float: right;
  margin-top: 90px;
  margin-right: 30px;
}

.instagram-logo img{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
}

.facebook-logo img{
  width: 50px;
  height: 50px;
  float: left;
}

.table {
  font-family: 'Crimson Text', serif;
  color: #3c6aa6;
  font-size: 1.2em;

}

.table>tbody>tr>td {
  border-top: 0 !important;
}

.call-button {
  text-align: center;
}
